<!DOCCTYPE html>

<head>
    <title>MonsterKiller</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/style/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/style/skeleton.css">
    <link rel="stylesheet" type="text/css" href="static/style/main.css">
</head>

<body>
    <h1>MonsterKiller</h1>
    <div class="background-image"></div>
    <div class="navbar-spacer"></div>
    <h2 class="subtitle">Bashing monsters has never been so easy</h2>
    <a href="https://github.com/Nxmee/MonsterKiller">
        <button class="button-primary">Give it a try</button>
    </a>
    <div id="mailing">
        <form method="POST">
            <input type="email" placeholder="find@out.more" id="mailinginput" name="email">
            <input class="button-primary" id="submit" type="submit" value=">">
        </form>
    </div>
</body>
